.img-title {
  text-align: center;
  font-size: 24px;
}

/* footer */
footer p {
  text-align: center;
  font-size: 12px;
  color: #677880;
}

/* main */
main {
  width: 392px;
  margin: 71px auto 52px;
}

.form-wrap input {
  margin-bottom: 24px;
}
